# dependencies
node_modules/
.pnp/
.pnp.js

# 환경변수 파일
.env

# 테스트 커버리지
coverage/

# 빌드 결과물
build/
dist/

# 로그 파일
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# 운영체제별 임시 파일
.DS_Store
Thumbs.db

# IDE/에디터 설정 파일
.vscode/
.idea/
*.swp

# 기타 캐시/임시